#form-wrapper{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 50px;
  }
  
form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  #input-field{
    flex: 1;
    border: 1px solid;
    border-color: #CDD9ED;
    border-radius: 7px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    transition: background-color 0.5s ease;

  }
  
  #input-field:hover{
    border: 1px groove #7e9bf7;
    
  }
  
  #submit-button{
    border: 1px solid;
    color:white;
    border-radius: 7px;
    padding: 15px 30px;
  
    margin-left: 55px;
    background-color: white;
    color: #3da8bb;
    border: 1px solid #78beca;
    transition: 0.5s ease;
  }

  @media (max-width: 600px) {
    #form-wrapper{
        padding: 25px 50px;
    }
    form{
        flex-direction: column;
        justify-content: center;
    }
    #submit-button{
        margin-left: 0px;
        margin-top: 25px;
    }
  }