.task-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    border-bottom: 1px solid #CDD9ED;
    transition: background-color 0.5 ease ;
  }
  
  .task-wrapper:hover{
    cursor: pointer;
    background-color: #d9e8eb;
  }
  
  .task-title-wrapper{
    flex: 2;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  
  }
  
  .btn-wrapper{
    margin-right: 20px;
  }

  
  .task-span{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    color: #808080;
    word-wrap: break-word;
  }
  
  
  .edit-btn, .delete-btn, .checkbox{
    border: 1px solid;
    border-radius: 7px;
    background-color: white;
    margin-right: 15px;
    padding: 10px 15px;
    border-color: #3da8bb;
    color: #3da8bb;
    transition: 0.5s ease;
  }

  .checkbox{
    margin-left: 20px;
    
}

 .edit-btn:hover, #submit-button:hover, .checkbox:hover{
    border: 1px solid #CDD9ED;
    background-color: #3da8bb;
    color: white;
  }
  
  .delete-btn{
    color:#084133b4;
    border-color: #084133b4;
    transition: 0.5s ease;
  }
  
  .delete-btn:hover{
    background-color: black;
    border: 1px solid;
    border-color: #7c7979;
    color: white;
  }

  @Media (max-width: 600px){
    .btn-wrapper{
      margin-right: 0px;
    }
  }